.frame{
  display: flex;
  padding: 20px;
  border: 1px solid black;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  align-content: space-evenly;
  gap: 10px;
}


.box{
  height: 100px;
  width: 100px;
  background-color: blue;
  font-size: 20pt;
  border: 1px solid black;
}